*{
    padding: 9px;
}
@font-face {
	font-family: 'Philosopher'; 
	src: local('Philosopher'),
		url(fonts/Philosopher/Philosopher-Regular.ttf),
        url(fonts/Philosopher/Philosopher-Bold.ttf),
        url(fonts/Philosopher/Philosopher-BoldItalic.ttf),
        url(fonts/Philosopher/Philosopher-Italic.ttf); 
        font-style: normal; 
        font-weight: normal;
}
@font-face {
	font-family: 'Montserrat_Alternates'; 
	src: local('Montserrat_Alternates'),
		url(fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-ExtraLight.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Italic.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Thin.ttf); 
        font-style: normal; 
        font-weight: normal;
}

h1, h2, h3, h4, h5, h6{
    font-family: Philosopher;    
}

.title{
    font-size: 41px;
    text-align: center;
}
.title_str{
    font-family: Montserrat Alternates;
    font-size: 18px;
    text-align: center;
}
.subtitle{
    font-size: 35px;
    text-align: center;
}
p{
    font-family: Montserrat Alternates;
    font-size: 18px;
}

.errors_tasks{
    border: 2px solid salmon;    
}
.practik_function{
    margin-top: 30px;
    border: 2px solid seagreen;
}
.task_str{
    text-align: center;
}
.subtitle_task{
    font-size: 30px;
    text-align: center;
}
.str_task{
    color:blue;
    text-align: center;
}
.code_js_task{
    border: 1px solid blueviolet;
    background-color: blanchedalmond;
    padding: 40px;
}
.code_js_task p{
    font-family: Philosopher;
    font-size: 20px;
    color: red;    
}
.str_task_answer{    
    color: blue;
    font-family: Montserrat Alternates;
}
.line{
    margin-top: 30px;
    width: 25%;
    border-top: 1px solid blueviolet;
}